*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/src/main/java/es/proyecto/eva/miagendadam/ConfirmaRegistro.java
.hg/cur-message.txt
.hg/thgstatus
*.java
*.java
